
@{
    ViewBag.Title = "Index";
}

<div class="row mx-5 text-center">
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <div class="col-2"></div>

    <div class="col-8">
        <a class="btn btn-success" href="/Admin/AddSeller"><img src="~/Images/seller.png" /><b>Add Seller</b></a>
        &nbsp; &nbsp; &nbsp; &nbsp;
        <a class="btn btn-success" href="/Admin/AddBranch"><img src="~/Images/branch.png" /><b>Add Branch</b></a>
        <br />
        <br />
        <br />
        <a class="btn btn-success" href="/Admin/SellerList"><img src="~/Images/sellers.png" /><b>View Seller List</b></a>
        &nbsp; &nbsp; &nbsp; &nbsp;
        <a class="btn btn-success" href="/Admin/BranchList"><img src="~/Images/branches.png" /><b>View Branch List</b></a>
        <br />
        <br />
        <br />
    </div>

    <div class="col-2"></div>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
</div>
