@{
    ViewBag.Title = "About";
}

<div class="row mx-5" style="text-align:center">
    <p></p>
    <p></p>
    <h2><b>About Us</b></h2>
    <p></p>
    <p></p>
</div>

<div class="row mx-0" style="text-align:center">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <h3><b style="color:brown">190104004</b>   <b style="color:darkcyan">Tahsin Chowdhury Jerin</b></h3>
        <h3><b style="color:brown">190104019</b>   <b style="color:darkcyan">Abdur Rahim</b></h3>
        <h3><b style="color:brown">190104020</b>   <b style="color:darkcyan">Abdullah Al Sajid</b></h3>
        <h3><b style="color:brown">190104021</b>   <b style="color:darkcyan">Sohom Munasib Sahaun</b></h3>
        <h3><b style="color:brown">190104024</b>   <b style="color:darkcyan">Abdullah Al Mamun</b></h3>
    </div>
</div>
<br>
