
@{
    ViewBag.Title = "Index";
}

<div class="row mx-5 text-center">
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <div class="col-2"></div>

    <div class="col-8">
        <a class="btn btn-success" href="/Seller/AddFood"><img src="~/Images/newfood.png" /><b>Add New Food</b></a>
        &nbsp; &nbsp; &nbsp; &nbsp;
        <a class="btn btn-success" href="/Seller/AddIngredient"><img src="~/Images/ingredients.png" /><b>Add New Ingredient</b></a>
        &nbsp; &nbsp; &nbsp; &nbsp;
        <a class="btn btn-success" href="/Seller/StockElements"><img src="~/Images/order.png" /><b>Add Stock</b></a>
        &nbsp; &nbsp; &nbsp; &nbsp;
        <a class="btn btn-info" href="/Seller/SellFood"><img src="~/Images/food.png" /><b>Sell Food</b></a>
        <br />
        <br />
        <br />
        <a class="btn btn-success" href="/Seller/FoodList"><img src="~/Images/food.png" /><b>View Food List</b></a>
        &nbsp; &nbsp; &nbsp; &nbsp;
        <a class="btn btn-success" href="/Seller/IngredientList"><img src="~/Images/ingredients.png" /><b>View Ingredient List</b></a>
        &nbsp; &nbsp; &nbsp; &nbsp;
        <a class="btn btn-success" href="/Seller/OrderList"><img src="~/Images/order.png" /><b>View Order List</b></a>
    </div>

    <div class="col-2"></div>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
</div>
